C:/GitHub/DIO-transfer-learning/flowers_photos/flower_photos.tgz filter=lfs diff=lfs merge=lfs -text
C:/GitHub/DIO-transfer-learning/flowers_photos/flower_photos.tgz filter=lfs diff=lfs merge=lfs -text
